.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.pane {
  overflow: hidden;
  flex-shrink: 0;
}

.divider {
  flex-shrink: 0;
  background-color: var(--color-border);
  transition: background-color var(--transition-fast);
}

.horizontal .divider {
  width: 1px;
  cursor: col-resize;
}

.vertical .divider {
  height: 1px;
  cursor: row-resize;
}

.divider:hover,
.divider.active {
  background-color: var(--color-accent);
}
