.container {
  height: 100%;
  border-radius: var(--radius-md);
  overflow: hidden;
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border-light);
}

.editor {
  height: 100%;
}

.editor .cm-editor {
  height: 100%;
}
